* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-color: #1d1d1d;
}

li {
    list-style: none;
}

button:active, button:focus {
    outline: none;
}

button, a {
    transition: 0.3s ease;
}

/* START */

.open-button {
    padding: 1.6rem 3.1rem;
    background-color: rebeccapurple;
    color: #fff;
    border-radius: 8px;
    border: none;
    font-size: 1.4em;
    letter-spacing: 0.02rem;
    font-family: "Roboto Black", Arial, sans-serif;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(102,51,158,.5);
    display: none;
    align-items: center;
    justify-content: center;
}
.popup-container.active {
    display: flex;
}
.popup {
    position: relative;
    background-color: #1d1d1d;
    color: #fff;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .5);
    padding: 2rem   ;
}

.close-button {
    padding: .3rem .7rem;
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border:none;
    font-size: 1.3rem;
    color:#fff;
}
.close-button:active{
    color:#000;
}

@media (max-width: 768px) {
    .popup {
        width:250px;
        padding:1rem;
        font-size:1rem;
    }
    .close-button{
        font-size:.8rem;
        top:4px;
        right:4px;
    }
}